@use "sass:map";

@use "./responsive";

.container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: var(--spacing);
    padding-right: var(--spacing);

    display: grid;
    grid-template-rows: auto 1fr auto;
}

@media (min-width: map.get(responsive.$breakpoints, "sm")) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }
}

@each $name, $max-width in responsive.$viewports {
    @media (min-width: map.get(responsive.$breakpoints, $name)) {
        .container {
            max-width: $max-width;
        }
    }
}
