@use "sass:map";
@use "@radix-ui/colors/gray";
@use "@radix-ui/colors/grayDark";
@use "@radix-ui/colors/amber";
@use "@radix-ui/colors/amberDark";
@use "@radix-ui/colors/amberA";
@use "@radix-ui/colors/amberDarkA";

@use "responsive";

:root {
    /* Fonts/Typography */
    --font-family: "IBM Plex Mono", monospace, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* Spacings */
    --spacing: 1rem;

    /* Spacings for typography elements */
    --typography-spacing-vertical: 1.5rem;
}

.transitions-ready {
    --transition: 0.2s ease-in-out;
}

html {
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.5;

    color: var(--gray12);
    background-color: var(--gray1);

    transition: background-color var(--transition), color var(--transition);
}

$font-sizes: (
    xs: 16px,
    sm: 17px,
    md: 18px,
    lg: 19px,
    xl: 20px,
);

@each $name, $font-size in $font-sizes {
    @media (min-width: map.get(responsive.$breakpoints, $name)) {
        html {
            font-size: $font-size;
        }
    }
}

// Colors:
@mixin scheme($name, $scale) {
    :root,
    .dark-theme {
        @for $i from 1 to 13 {
            --#{$name}#{$i}: var(--#{$scale}#{$i});
        }
    }
}

@include scheme(primary, amber);
@include scheme(primaryA, amberA);
