address,
blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
    margin-top: 0;
    margin-bottom: var(--typography-spacing-vertical);
}

// Links
// 1. Remove the gray background on active links in IE 10
a,
[role="link"] {
    outline: none;
    background-color: transparent; // 1
    color: var(--primary11);
    text-decoration: none;

    transition: background-color var(--transition), color var(--transition),
        text-decoration var(--transition), box-shadow var(--transition);

    &:where([aria-current], :active, :focus) {
        color: var(--primary12);
        text-decoration: underline;
    }

    @media (hover) {
        &:where(:hover) {
            color: var(--primary12);
            text-decoration: underline;
        }
    }

    &:focus {
        background-color: var(--primaryA5);
    }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: var(--typography-spacing-vertical);
    font-weight: 700;
}

h1 {
    font-size: 2rem;
    --typography-spacing-vertical: 3rem;
}

h2 {
    font-size: 1.75rem;
    --typography-spacing-vertical: 2.625rem;
}

h3 {
    font-size: 1.5rem;
    --typography-spacing-vertical: 2.25rem;
}

h4 {
    font-size: 1.25rem;
    --typography-spacing-vertical: 1.874rem;
}

h5 {
    font-size: 1.125rem;
    --typography-spacing-vertical: 1.6875rem;
}

// Margin-top for headings after a typography block
:where(address, blockquote, dl, figure, form, ol, p, pre, table, ul) {
    ~ :is(h1, h2, h3, h4, h5, h6) {
        margin-top: var(--typography-spacing-vertical);
    }
}

// Small
small {
    font-size: 0.875em;
}

// Lists
:where(dl, ol, ul) {
    padding-right: 0;
    padding-left: var(--spacing);
    padding-inline-start: var(--spacing);
    padding-inline-end: 0;

    li {
        margin-bottom: calc(var(--typography-spacing-vertical) * 0.25);
    }
}

// Margin-top for nested lists
// 1. Remove the margin on nested lists in Chrome, Edge, IE, and Safari
:where(dl, ol, ul) {
    :is(dl, ol, ul) {
        margin: 0; // 1
        margin-top: calc(var(--typography-spacing-vertical) * 0.25);
    }
}

ul li {
    list-style: square;
}

// Blockquote
blockquote {
    display: block;
    margin: var(--typography-spacing-vertical) 0;
    padding: var(--spacing);
    border-right: none;
    border-left: 0.25rem solid var(--primary11);
    border-inline-start: 0.25rem solid var(--primary11);
    border-inline-end: none;

    footer {
        margin-top: calc(var(--typography-spacing-vertical) * 0.5);
        color: var(--primary11);
    }
}

// Abbreviations
// 1. Remove underline decoration in Chrome, Edge, IE, Opera, and Safari
abbr[title] {
    border-bottom: 1px dotted;
    text-decoration: none; // 1
    cursor: help;
}

// selection
::selection {
    color: var(--primary12);
    background-color: var(--primaryA5);
}
