---
import { Icon } from "astro-icon";
---

<a role="button" class="theme-switcher" tabindex="0">
    <span class="on"><Icon name="bi:lightbulb-fill" height="1em" /></span>
    <span class="off"><Icon name="bi:lightbulb" height="1em" /></span>
</a>

<style lang="scss">
    .theme-switcher {
        display: flex;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }
    }

    span {
        margin-left: 0.25em;
        margin-right: 0.25em;
    }

    @media (hover) {
        :global(html:not(.dark-theme)) {
            :not(:hover) .off,
            :hover .on {
                display: none;
            }
        }

        :global(html.dark-theme) {
            :hover .off,
            :not(:hover) .on {
                display: none;
            }
        }
    }

    @media (hover: none) {
        :global(html:not(.dark-theme)) {
            .off {
                display: none;
            }
        }

        :global(html.dark-theme) {
            .on {
                display: none;
            }
        }
    }
</style>

<script>
    let htmlClasses = document.documentElement.classList;

    function handler(event: Event) {
        if (
            event instanceof KeyboardEvent &&
            event.key !== "Enter" &&
            event.key !== " "
        ) {
            return;
        }

        if (htmlClasses.contains("dark-theme")) {
            htmlClasses.remove("dark-theme");
            localStorage.setItem("theme", "light");
        } else {
            htmlClasses.add("dark-theme");
            localStorage.setItem("theme", "dark");
        }
    }

    document.querySelectorAll(".theme-switcher").forEach((button) => {
        button.addEventListener("click", handler);
        button.addEventListener("keydown", handler);
    });
</script>
