---
import DarkModeToggle from "components/DarkModeToggle.astro";

interface Props {
    vertical?: boolean;
}

const { vertical: isVertical = false } = Astro.props;

const loginParams = new URLSearchParams({ redirect: Astro.url.pathname });
---

<nav class:list={[{ vertical: isVertical }]}>
    <ul>
        <li>
            <a href="/" class="navbar-item">Synthetic Beauty</a>
        </li>
    </ul>
    <ul>
        <li><DarkModeToggle class="navbar-item" /></li>
        <li>
            <a
                role="button"
                href={`/auth/login?${loginParams}`}
                class="navbar-item"
            >
                Log In with Spotify</a
            >
        </li>
    </ul>
</nav>

<style lang="scss">
    @use "sass:selector";

    @use "styles/addHoverIf" as *;
    @use "styles/theme";

    $horizontal-spacing: 1rem;
    $vertical-spacing: 0.5rem;

    nav {
        display: flex;
        justify-content: space-between;

        > :global(ul) {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            padding: 0;

            > :global(li) {
                display: inline-block;
                margin-bottom: 0;

                list-style: none;
            }

            &:first-child {
                margin-left: -$horizontal-spacing;
            }

            &:last-child {
                margin-right: -$horizontal-spacing;
            }
        }
    }

    .navbar-item {
        transition: color var(--transition) background-color var(--transition);

        padding: $vertical-spacing $horizontal-spacing;
        cursor: pointer;

        color: var(--primary11);
        background-color: transparent;

        @include add-hover-if("[aria-current], :focus-visible") {
            background-color: var(--primary4);
        }

        &:active {
            background-color: var(--primary5);
        }

        &:focus-visible {
            outline: none;
        }
    }
</style>
