---
import "@fontsource/ibm-plex-mono";
import "sanitize.css";

import { Content as FooterContent } from "components/footer.md";
import NavBar from "components/NavBar.astro";

import "styles/container.scss";
import "styles/theme.scss";
import "styles/typography.scss";

export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div class="safari-overflow-trickery">
            <div class="container">
                <header>
                    <NavBar />
                </header>

                <main>
                    <slot />
                </main>

                <footer>
                    <FooterContent />
                </footer>
            </div>
        </div>
    </body>
</html>

<style lang="scss">
    .safari-overflow-trickery {
        overflow-x: hidden;
    }

    $dividing-line: 0.25rem solid var(--primary9);

    header,
    footer {
        margin-left: -100vw;
        margin-right: -100vw;
        padding-left: 100vw;
        padding-right: 100vw;
    }

    header {
        background-color: var(--primary3);
        border-bottom: $dividing-line;

        transition: background-color var(--transition);
    }

    footer {
        --typography-spacing-vertical: 0.75rem;

        border-top: $dividing-line;
        padding-top: var(--typography-spacing-vertical);
    }
</style>

<script>
    let htmlClasses = document.documentElement.classList;

    import { siteTheme } from "stores/theme";
    siteTheme.subscribe((newValue) => {
        if (newValue === "dark") {
            htmlClasses.add("dark-theme");
        } else if (newValue === "light") {
            htmlClasses.remove("dark-theme");
        } else if (newValue === "auto") {
            const prefersDarkMode = window.matchMedia(
                "(prefers-color-scheme: dark)"
            );

            if (prefersDarkMode.matches) {
                htmlClasses.add("dark-theme");
            }
        }
    });

    ///

    addEventListener("load", () => htmlClasses.add("transitions-ready"));
</script>
