---
import "@fontsource/ibm-plex-mono";
import "sanitize.css";
import "@radix-ui/colors/gray.css";
import "@radix-ui/colors/grayDark.css";

import NavBar from "components/NavBar.astro";
import "styles/typography.scss";

export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div class="safari-overflow-trickery">
            <div class="container">
                <header>
                    <NavBar />
                </header>

                <main>
                    <slot />
                </main>

                <footer>
                    <p>
                        Made by
                        <a href="https://github.com/typedrat" target="_blank">
                            Alexis Williams</a
                        >
                        with
                        <a href="https://astro.build/" target="_blank">
                            Astro</a
                        >
                        (and lots of 🥰 and 🐀).
                    </p>
                    <p>
                        <small>
                            <a
                                href="https://github.com/typedrat/synthetic-beauty"
                                target="_blank"
                            >
                                The source code</a
                            >
                            is available under the terms of the
                            <a
                                href="https://tldrlegal.com/license/gnu-affero-general-public-license-v3-(agpl-3.0)"
                                target="_blank"
                            >
                                GNU Affero GPL, version 3.0</a
                            >
                            or later.
                        </small>
                    </p>
                </footer>
            </div>
        </div>
    </body>
</html>

<style>
    :root {
        /* Fonts/Typography */
        --font-family: "IBM Plex Mono", monospace, "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

        /* Spacings */
        --spacing: 1rem;

        /* Spacings for typography elements */
        --typography-spacing-vertical: 1.5rem;
    }

    html {
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;

        color: var(--gray12);
        background-color: var(--gray1);
    }

    .container {
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;
        padding-left: var(--spacing);
        padding-right: var(--spacing);

        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    @media (min-width: 576px) {
        html {
            font-size: 17px;
        }

        .container {
            max-width: 510px;
            padding-right: 0;
            padding-left: 0;
        }
    }
    @media (min-width: 768px) {
        html {
            font-size: 18px;
        }

        .container {
            max-width: 700px;
        }
    }
    @media (min-width: 992px) {
        html {
            font-size: 19px;
        }

        .container {
            max-width: 920px;
        }
    }
    @media (min-width: 1200px) {
        html {
            font-size: 20px;
        }

        .container {
            max-width: 1130px;
        }
    }

    .container > header,
    .container > footer {
        --dividing-line: 0.25em solid var(--amber9);

        margin-left: -100vw;
        margin-right: -100vw;
        padding-left: 100vw;
        padding-right: 100vw;
    }

    .container > header {
        border-bottom: var(--dividing-line);
    }

    .container > footer {
        --typography-spacing-vertical: 0.75rem;

        border-top: var(--dividing-line);
        padding-top: var(--typography-spacing-vertical);
    }

    .safari-overflow-trickery {
        overflow-x: hidden;
    }
</style>

<script>
    const prefersDarkMode = window.matchMedia("(prefers-color-scheme: dark)");

    if (prefersDarkMode.matches) {
        document.documentElement.classList.add("dark-theme");
    }

    prefersDarkMode.addEventListener("change", (e) => {
        if (e.matches) {
            document.documentElement.classList.add("dark-theme");
        } else {
            document.documentElement.classList.remove("dark-theme");
        }
    });
</script>
